/* Allgemeines*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
button {
  font-family: "Inter", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  line-height: 1.5;
  background-color: #333;
  color: blanchedalmond;
  padding: 0 1em 1em 1em;
  margin: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #333333;
  border-bottom: 2px solid blanchedalmond;
  padding: 1em;
  z-index: 1000;
}

a {
  color: blanchedalmond;
}

a:visited {
  color: lightgray;
}

a:hover {
  color: white;
}

.logo {
  height: 100px;
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  color: antiquewhite;
  text-decoration: none;
}

.nav_links li a:hover {
  color: darkgreen;
}

button {
  padding: 9px 25px;
  color: blanchedalmond;
  background-color: darkgreen;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 3%;
}

button:hover {
  background-color: rgba(0, 100, 0, 0.8);
  color: white;
}

/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_menu {
  display: none;
  position: absolute;
  top: 100%; /* direkt unter "archiv" */
  left: 0;
  background-color: #333;
  border: 1px solid blanchedalmond;
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
  z-index: 1000;
}

.dropdown_menu li {
  display: block;
}

.dropdown_menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: antiquewhite;
  transition: background 0.3s ease;
}

.dropdown_menu li a:hover {
  background-color: darkgreen;
  color: white;
  border-radius: 5px;
}

/* Dropdown sichtbar bei Hover */
.dropdown:hover .dropdown_menu {
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none !important;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none !important;
  }
  .menu-button {
    display: inline-block !important;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100% !important;
  }
}

h2 {
  padding: 3% 0;
  text-align: center;
}

p {
  margin: 2% 0;
}

/* Blog */

.thumbnail {
  width: 100%;
  border-radius: 20px;
}
article {
  padding: 3% 10%;
}

.statistic {
  max-width: 400px;
  float: right;
  padding: 0 5%;
}

.change {
  display: inline-flex;
  columns: 2;
}

.klimavor8img {
  height: 100px;
  float: right;
  padding: 5%;
}

/* Über */

.aboutme {
  padding: 0 20%;
}

.pixelimg {
  border-radius: 50px;
}

.battlebox {
  border: 10px solid darkgreen;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 1em;
  margin: 1% 0;
  background-color: blanchedalmond;
  color: #333;
  text-align: justify;
}

.columns {
  columns: 2;
  font-size: 2rem;
  text-align: center;
}

h1 {
  text-align: center;
}

.infos {
  padding: 100px;
  text-align: left;
}

/* Spendenseite*/

.donation {
  padding: 0 20%;
}

.donation_orgs {
  list-style: none;
  padding-bottom: 3%;
}

.donation_h2 {
  text-align: center;
}

.donationimg {
  display: block;
  margin: 50px auto;
  border-radius: 75px;
}

/* Kontakt */

.contact {
  padding: 0 20%;
}

.contact_form {
  padding: 20px;
}

.submitbutton {
  text-align: center;
}
