/* Allgemeines*/

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html,
button {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  padding: 0 1em 1em 1em;
  margin: 1em;
}

body {
  line-height: 1.5;
  background-color: #333;
  color: blanchedalmond;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: blanchedalmond;
}

a:visited {
  color: lightgray;
}

a:hover {
  color: white;
}

.logo {
  height: 100px;
  rotate: 45deg;
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  color: antiquewhite;
  text-decoration: none;
}

.nav_links li a:hover {
  color: darkgreen;
}

button {
  padding: 9px 25px;
  color: blanchedalmond;
  background-color: darkgreen;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin: 3%;
}

button:hover {
  background-color: rgba(0, 100, 0, 0.8);
  color: white;
}

h2 {
  padding: 3% 0;
}

p {
  margin: 2% 0;
}

/* Blog */
article {
  padding: 10% 20%;
}

/* Über */

.aboutme {
  padding: 0 20%;
}

.pixelimg {
  border-radius: 50px;
}

.battlebox {
  border: 10px solid darkgreen;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 1em;
  margin: 1% 0;
  background-color: blanchedalmond;
  color: #333;
  text-align: justify;
}

.columns {
  columns: 2;
  font-size: 2rem;
  text-align: center;
}

h1 {
  text-align: center;
}

.infos {
  padding: 100px;
  text-align: left;
}

/* Spendenseite*/

.donation {
padding: 0 20%;
}

.donation_orgs {
  list-style: none;
  padding-bottom: 3%;
}

.donation_h2 {
  text-align: center;
}

.donationimg {
  display: block;
  margin: 50px auto;
  border-radius: 75px;
}

/* Kontakt */

.contact {
  padding: 0 20%;
}

.contact_form {
  padding: 20px;
}

.submitbutton {
  text-align: center;
}